#home {
    font-family:cursive;
}

.status-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: white url(img/hori.png) center;
    background-size: cover;
    margin: 15px 20px 25px 30px;
    padding: 10px;
}

.ManTitle {
    text-align: center;
    font-family: verdana;
    font-size: medium;
}

.man-img {
    height: 300px;
    width: 200px;
}

.manga {
    border:1px solid black;
    display: block;
}

a:link{
    color:blue;
}
a:visited{
    color:darkred;
}
a:hover{
    color:seagreen;
}
a:active{
    color:gold;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: solid 1px blue;
    padding: 5px;
}

th {
    background-color: royalblue;
    color:white;
}

tr:nth-child(odd) {
    background-color: aquamarine;
}

tr:nth-child(even) {
    background-color: aqua;
}

tr:hover {
    background-color: cornflowerblue;
    cursor:pointer;
}
